.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  /* background-color: rgba(0, 0, 0, 0.35); */
  padding: 1.25rem 0.9375rem;
  /* font-size: 10em; */
}

.logo {
  width: 10.5rem;
  height: auto;
}

.headerContent {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  flex-direction: row;
}

.headerLinks {
  margin: 0px 1.5625rem 0px 2rem;
}

.headerLink {
  color: black;
  text-decoration: none;
  font-weight: 200;
  margin: 0 0.4rem;
  font-size: 1.5rem;
  width: 100%;
}



.headerLink2{
  color: white;
  text-decoration: none;
  font-weight: 200;
  margin: 0 0.4rem;
  font-size: 1rem;
}

.headerLink:hover,.headerLink2:hover {
  color:#535ce8 ;
  cursor: pointer;

}

.headerActions {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
}

.orderStatus {
  color: #16bc9cff;
  margin-right: 0.3125rem;
  text-decoration: underline;
  font-size: 0.9375rem;
}

.instantQuotation {
  background-color: #535ce8;
  color: #ffffff;
  border-radius: 0.3125rem;
  padding: 0.3125rem 0.75rem;
  margin: 0px 1.5625rem;
  font-size: 0.9375rem;
  text-decoration: none;
}
*, button, body {
  text-transform: capitalize !important;
}