
  
  .text-color {
    text-align: center;
    color: #171a1fff;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1.25rem;
  }
  
  .text-pro {
    color: #6068e9 !important;
    text-decoration: none;
  }
  